div#page_list main article.teacher-item {
    margin-top: 3.2rem;
    background: var(--color-box-base);
    border: 2px solid var(--color-line-in-white);
    border-radius: 1.25rem;
    overflow: hidden;
}

div#page_list main article.teacher-item header {
    padding: 3.2rem 2rem 3.2rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#page_list main article.teacher-item header img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

div#page_list main article.teacher-item header div {
    margin-left: 1.6rem;
}

div#page_list main article.teacher-item header div strong {
    display: block;
    font: 700 3.0rem Archivo;
    color: var(--color-text-title);
}

div#page_list main article.teacher-item header div span {
    margin-top: 0.8rem;
    display: block;
    font: 700 1.3rem Poppins;
}

div#page_list main article.teacher-item > p {
    margin-bottom: 3.2rem;
    padding: 0rem 2rem 0rem 2rem;
    font: 500 1.5rem Poppins;
    line-height: 2.8rem;
}

div#page_list main article.teacher-item footer {
    padding: 3.2rem 2rem 3.2rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-box-footer);
    border-top: 2px solid var(--color-line-in-white);
}

div#page_list main article.teacher-item footer p {
    font: 700 1.5rem Poppins;
    color: var(--color-text-title);
}

div#page_list main article.teacher-item footer p strong {
    display: block;
    font: 700 2rem Poppins;
    color: var(--color-primary);
}

div#page_list main article.teacher-item footer button {
    height: 6rem;
    width: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font: 700 2rem Archivo;
    color: var(--color-button-text);
    background: var(--color-secundary);
    border: 0;
    border-radius: 1.25rem;
    cursor: pointer;
    transition-property: background-color;
    transition: all 0.2s ease-in-out;
}

div#page_list main article.teacher-item footer button img {
    margin-right: 1.6rem;
    height: 2.5rem;
    width: 2.5rem;
}

div#page_list main article.teacher-item footer button:hover {
    background: var(--color-secundary-dark);
}

    @media (min-width: 700px) {
        div#page_list main article.teacher-item header {
            padding: 3.2rem 3.2rem 3.2rem 3.2rem;
        }

        div#page_list main article.teacher-item > p {
            padding: 0rem 3.2rem 0rem 3.2rem;
        }

        div#page_list main article.teacher-item footer {
            padding: 3.2rem 3.2rem 3.2rem 3.2rem;
        }

        div#page_list main article.teacher-item footer p strong {
            margin-left: 1.6rem;
            display: initial;
        }

        div#page_list main article.teacher-item footer button {
            width: 24.5rem;
            justify-content: center;
        }

        div#page_list main article.teacher-item footer button img {
            margin-right: 1.6rem;
        }
    }