div.textarea-block {
    margin-top: 3.2rem;
}

div.textarea-block label {
    font: 500 1.3rem Poppins;
    color: var(--color-text-complement);
}

div.textarea-block textarea {
    margin-top: 0.8rem;
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    height: 20rem;
    min-height: 5rem;
    width: 100%;
    font: 500 1.6rem Archivo;
    background: var(--color-input-background);
    border-radius: 1.25rem;
    border: 0rem;
    border: 2px solid var(--color-input-background);
    outline: 0rem;
    resize: vertical;
    transition-property: border;
    transition: all 0.2s ease-in-out;
}

div.textarea-block:focus-within textarea {
    border: 2px solid var(--color-primary-light);
}